@charset "UTF-8";

.page-main{
	width:900px;
	margin:0 auto;
}
.page-main2{
	width:900px;
	
	margin:0 auto;
}
.result-display{
	width:400px;
	height:200px;
	/*정중앙에 div를 배치하기 위한 설정*/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:1px solid #000;
	display:flex;
	/*세로 정렬*/
	align-items:center;
	/*가로 정렬*/
	justify-content:center;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}

/*My Page*/
.mypage-div{
	width:48%;
	float:left;
	padding:5px;
}
.my-photo{
	object-fit:cover;
	/*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정*/
	object-position:top;
	/*사각형의 모서리 둥근 정도를 지정하는 속성인 데 50%를 지정하면 완전한 원이 됨*/
	border-radius:50%;
}
/*메인*/
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
#per{
	margin-left:0px;
}
#img1{
	float:right;
	margin-right:135px;
}

/* a:hover{
	text-decoration:underline;
	color:#999999;
} */


/*홈페이지 로고(ABC shop) 이미지*/
img#logo{
 width:200px;
 padding-top:70px;padding-bottom:10px;
}

/*카테고리 메뉴 상하 여백*/
div.blank{
	margin-top:40px;
	margin-bottom:160px;
}
/*카테고리 메뉴 폰트설정*/
.menu_font{
	font-family: 'YUniverse-B';
}

/*[추가사항]*/
/*페이지별 타이틀 상하 여백*/
.common_title{ /*추가*/
	margin:140px auto 60px;
	font-family: 'KOTRA_GOTHIC';
	letter-spacing: 0.2em;
}


.common_title a:visited { 
  color: black;
  text-decoration:none;
}
.common_title a:hover { 
  color: black;
  text-decoration:none;
}
.common_title a:active { 
  color: black;
  text-decoration:none;
}

/*회원가입, 수정폼*/
form{
	width:600px;
	margin:50px auto;
	padding:10px 10px 10px 80px;
	/* border:1px solid #000;  */ 
	
}
form#signUp_form{ /*추가*/
	width:800px;
	margin:50px 100px 50px 150px;
	padding:10px auto;	
}

ul{
	list-style:none;
}
label{
	width:130px;
	float:left;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:200px;
}
#register_form input[id="id"]{
	width:113px;
}
input[id="zipcode"]{
	width:95px;
}
input[id="address1"],input[id="address2"]{
	width:300px;
}
.form-notice{
	margin-left:130px;
}

/*버튼*/
#submit_btn{ /*추가*/
	margin:50px 240px 50px 0;
}

.login_btn{ /*추가*/
	margin:0 -100px 0 160px;
}


/*상품후기 게시판*/
/*상품후기 - 목록 */
.list-space{
	margin-bottom:10px;
	margin-top:20px; /*추가*/
}
/* table{
	width:100%;
	border:1px solid #000;
	border-collapse:collapse;
	margin-top:5px;
} */
/* table td, table th{
	border:1px solid #000;
	padding:5px;
} */

/*목록 이미지 크기 설정*/
.list-img{
	max-width:60px;
	margin: 0 auto;
}
/*상품후기 글쓰기 이미지 미리보기*/
/* .img_preview{
	max-width:60px;
} */


/*서치폼*/
/*default 서치창 설정*/
form#search_form{
	border:none;	
}
ul.search{
	width:300px;
	list-style:none;
	padding:0;
	margin:0 auto;	
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
} 

/*review 페이지 서치창 설정-좌측 하단 정렬(board/list,myReview.jsp)*/
form#search_review{
	border:none;	
	float:left;
	width:40%;
	margin: 0 0 0 -80px;
	/* background-color:pink;  */
}
ul.search_review{
	width:300px;
	list-style:none;
	padding:0;
	margin:0;	
	/* background-color:#c4b8a5;  */
	float:left;
}
ul.search_review li{
	margin:0;
	padding:0;
	display:inline;
}

/*추가: 글쓰기 버튼*/
div#write_btn{
	float:right;
	width:30%;
	/* background-color:#fad9a7;  */
	padding-top:10px;
	height:5%;
}
#output_fav{
	cursor:pointer;
}

#like_btn_list{
	margin-top:10px;
	float:left; 
	margin-left:10px;
}



/*상품후기 - 글상세*/
.sample_img{
	max-width:123px;
	margin-bottom:5px;
	margin-top:-31px;
	padding-top:0;
	/* margin-left:12px; */
	margin-left:30px;
}
.select_img{
	margin-left:32px;
}
/*글작성,글수정*/
textarea.update_content{
	width:300px;
	height:40px;
}

.detail-img{
	max-width:500px;
}
div#reply_div{
	padding:5px 10px 40px 10px;
	margin-top:10px;
	background-color:#f5f5f5;
	height:140px;
}
form#re_form{
	width:650px;
	border:none;
}
span.re-title{
	color:#000;
	font-size:12pt;
	line-height:200%;
	/* background-color:pink; */
	float:left;
	width:8%;
	margin-top:40px;
	margin-left:10px;
	text-align:center;
	font-family: 'KOTRA_GOTHIC';
}
span.letter-count{
	font-size:10pt;
	color:#999;
}

textarea.rep-content{
	width:105%;
	height:65px;
	margin:-40px 0 0 -100px;float:left;
}
textarea.textarea.rep-contents{
	width:105%;
	height:45px;
	margin:-100px 0 0 -300px;float:left;
}
div#re_first{
	
	margin-left:-95px;
	margin-bottom:10px;margin-top:0;
}

div.div#mre_first{
	
	margin-left:-50px;
	margin-bottom:10px;margin-top:0;
}

div.div#re_second, div.div#mre_second{
	float:left;
	width:3%;
	margin-bottom:10px;float:left;/* background-color:pink; */
	margin-left:20px;font-family: 'KOTRA_GOTHIC';font-size:10pt;
	
}
div#loading{
	width:100px;
	height:50px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:flex;
	align-items:center;
	justify-content:center;
}
div.paging-button{
	text-align:right;
}
div#output{
	clear:both;
}
form.form#mre_form{
	border:none;
	margin:5px;
}
span.modify_letter{
	font-size:7pt;
	color:#000;
}
.user_font{
	font-size:11pt;
	color:#000;
}
p.content_font{
	font-size:10pt;
	color:#000;
}

.view_font{
	font-size:9pt;
	color:#000;
}
.view_font2{
	font-size:9pt;
	color:#8c8c8c;
}
span.cart_text{
	font-size:9pt;
	color:#cc2512; 
}

.quantity-width{
	width:40px;
	margin-bottom:3px;
	border:none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

/*여백 및 정렬 옵션*/
.blank_10{
	margin-bottom:10px;
}
.blank_20{
	margin-bottom:20px;
}
.blank_30{
	margin-bottom:30px;
}
.blank_40{
	margin-bottom:40px;
}
.blank_50{
	margin-bottom:50px;
}
.blank_70{
	margin-bottom:70px;
}
.blank_100{
	margin-bottom:100px;
}
.blank_200{
	margin-bottom:200px;
}
.margin_left_10{
	margin-left:10px;
}
.margin_left{
	margin-left:20px;
}
.margin_right_10{
	margin-right:10px;
}
.margin_right{
	margin-right:20px;
}
.margin_left_30{
	margin-left:30px;
}
.margin_left_40{
	margin-left:40px;
}
.margin_right_10{
	margin-right:10px;
}
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.go_left{
	margin-left:-50px;
}
.go_left2{
	margin-left:-43px;
	margin-top:23px;
}

.center30{
	text-align : center;
}
.go_left_60{
	margin-left:-60px;
}
.go_left_70{
	margin-left:-75px;
	margin-top:-2px;
}
.go_left_120{
	margin-left:-120px;
	margin-top:-2px;
}

.go_right{
	margin-left:85px;
}
.go_right2{
	margin-left:155px;
}
.go_right3{
	margin-left:165px;
}
.go_right4{
	margin-left:115px;
}
.go_left_update{
	margin-left:-80px;
}
/*float clear 설정*/
.clear{clear:both;}
.cart-in{
	width:30px;	
}
.margin_auto{
	margin: 30px auto;
}
#cancel_text{
	color:red;
}

.buy_form{
	margin-left:-230px;
	margin-top:-48px;
}
.bg1{
	background-color:#fafafa;
}
.input_color{
	border:1px solid #dedede;
}
#order_btn{
	width:200px;
	height:40px;
	background-color:black; color:white;
}

.font{
	 font-family: 'Noto Sans KR', sans-serif;
}
.font1{
	 font-family: 'Jeju Gothic', sans-serif;
}
.font2{
	 font-family: 'KOTRA_GOTHIC';
}
.font3{
	 font-family: 'YUniverse-B';
}
.font4{
	 font-family: 'NanumSquareRound';
}
.order_font{
	 font-family: 'NanumSquareRound';
	 font-size:12pt;
}
.btn_a{
	/* background-color:pink;  */ 
	margin-left:20px;
}
.btn_b{
	/* background-color:yellow;  */
	float:left;
}
.all{width:900px;margin:0 auto;}
.row2{width:33%;float:left;}

/*폰트설정*/
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
.jejugothic * { 
 font-family: 'Jeju Gothic', sans-serif;
}
@font-face {
    font-family: 'KOTRA_GOTHIC';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

